/* CENTRALIZANDO TODO O SITE; */
.Centralizar {
	position: absolute;
	width: 993px;
	height: 773px;
	left: 50%;
	margin-left: -490px;
	margin-top: -20px;
	float: none;
	margin-right: 0px;
	margin-bottom: 0px;
}

/* CONFIGURANDO TODOS OS CAMPOS DE TEXTO; */
.allright {
	position: absolute;
	top: 785px;
	font-family: arial;
	font-size: 15px;
	color: #6e8578;
	left: 315px;
}

.topLogin {
	position: absolute;
	width: 990px;
	top: 40px;
	font-family: arial;
	font-size: 15px;
	color: #6e8578;
}

a:link {
	font-family: arial;
	color: #82cb77;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	font-family: arial;
	color: #82cb77;
	text-decoration: none;
	font-weight: bold;
}

.Campo {
	border: 1px solid #CCC;
	position: absolute;
	height: 15px;
	color: #333;
	left: 58px;
	top: 696px;
	width: 57px;
}

.h1 {
	font-family: arial;
	font-size: 20px;
}

.h3 {
	font-family: arial;
}

.Campo.RegistroNaoEncontrado {
	width: 190px;
	border: 0px;
	left: 224px;
	top: 545px;
	font-family: arial;
	font-size: 15px;
}

.Campo.ProtCECOR {
	width: 126px;
	left: 339px;
	top: 282px;
}

.Campo.Nome {
	width: 714px;
	left: 62px;
	top: 344px;
}

.Campo.Nascimento {
	width: 125px;
	left: 803px;
	top: 344px;
}

.Campo.Complemento {
	width: 201px;
	left: 638px;
	top: 573px;
}

.Campo.PacienteCidade {
	width: 153px;
	left: 58px;
	top: 634px;
}

.Campo.Idade {
	width: 38px;
	left: 891px;
	top: 343px;
}

.Box.Cor {
	left: 61px;
	top: 400px;
	width: 127px;
}

.Campo.NomeMae {
	width: 552px;
	left: 376px;
	top: 399px;
}

.Campo.Profissao {
	width: 587px;
	left: 62px;
	top: 457px;
}

.Campo.Naturalidade {
	width: 153px;
	left: 553px;
	top: 457px;
}

.Campo.Procedencia {
	width: 95px;
	left: 836px;
	top: 457px;
}

.Campo.Cpf {
	width: 171px;
	left: 62px;
	top: 513px;
}

.Campo.RG {
	width: 121px;
	left: 253px;
	top: 513px;
}

.Campo.Endereco {
	width: 378px;
	left: 555px;
	top: 513px;
}

.Campo.Numero {
	width: 108px;
	left: 61px;
	top: 573px;
}

.Campo.Bairro {
	width: 252px;
	left: 209px;
	top: 573px;
}

.Campo.CEP {
	width: 108px;
	left: 499px;
	top: 573px;
}

.Campo.Residencial {
	width: 128px;
	left: 304px;
	top: 634px;
}

.Campo.ResidencialDDD {
	width: 57px;
	left: 235px;
	top: 634px;
}

.Campo.Celular {
	width: 128px;
	left: 524px;
	top: 634px;
}

.Campo.CelularDDD {
	width: 57px;
	left: 455px;
	top: 634px;
}

.Campo.Responsavel {
	width: 512px;
	left: 420px;
	top: 634px;
}

.Campo.EnderecoResponsavel {
	width: 486px;
	left: 61px;
	top: 697px;
}

.Campo.CpfResponsavel {
	width: 182px;
	left: 571px;
	top: 697px;
}

.Campo.TelefoneResponsavel {
	width: 157px;
	left: 775px;
	top: 697px;
}

.Campo.Login {
	width: 117px;
	left: 835px;
	top: 39px;
}

.Campo.Senha {
	width: 117px;
	left: 835px;
	top: 83px;
}

.Campo.CentralNome {
	width: 593px;
	left: 194px;
	top: 258px;
}

.Campo.CentralIdade {
	width: 40px;
	left: 195px;
	top: 331px;
}

.Campo.CentralCor {
	width: 127px;
	left: 274px;
	top: 331px;
}

.Campo.CentralCpf {
	width: 174px;
	left: 614px;
	top: 330px;
}

.Campo.CentralEndereco {
	width: 488px;
	left: 195px;
	top: 398px;
}

.Campo.TelefonePessoaRecado {
	width: 128px;
	left: 127px;
	top: 695px;
}

.Campo.TelefonePessoaRecadoDDD {
	width: 57px;
	left: 58px;
	top: 695px;
}

.InicialBotaoLogar {
	position: absolute;
	left: 858px;
	top: 111px;
}

.PacienteBotaoCadastrar {
	position: absolute;
	left: 804px;
	top: 734px;
}

.PacienteBotaoVoltar {
	position: absolute;
	left: 662px;
	top: 695px;
}

.PacienteBotaoVoltar2 {
	position: absolute;
	left: 525px;
	top: 734px;
}

.PacienteBotaoEditar {
	position: absolute;
	left: 801px;
	top: 734px;
}

.PacienteBotaoVoltar3 {
	position: absolute;
	left: 663px;
	top: 734px;
}

.PacienteBotaoVoltar {
	position: absolute;
	left: 660px;
	top: 734px;
}

.PacienteBotaoSalvar {
	position: absolute;
	left: 801px;
	top: 734px;
}

.PacienteBotaoImprimir {
	position: absolute;
	left: 664px;
	top: 734px;
}

.Campo.AcompanhanteComplemento {
	width: 254px;
	left: 663px;
	top: 468px;
}

/* CONFIGURANDO TODOS OS CAMPOS DE ACOMPANHANTE; */
.Campo.AcompanhanteNome {
	width: 647px;
	left: 57px;
	top: 342px;
}

.Campo.AcompanhanteEndereco {
	width: 693px;
	left: 224px;
	top: 407px;
}

.Box.AcompanhanteTipoEndereco {
	left: 56px;
	top: 406px;
}

.Campo.AcompanhanteNumero {
	width: 167px;
	left: 321px;
	top: 468px;
}

.Campo.AcompanhanteBairro {
	width: 249px;
	left: 56px;
	top: 468px;
}

.Campo.AcompanhanteCEP {
	width: 144px;
	left: 504px;
	top: 468px;
}

.Campo.AcompanhanteCPF {
	width: 195px;
	left: 722px;
	top: 342px;
}

.Campo.AcompanhanteDDDTelefone {
	width: 55px;
	left: 353px;
	top: 532px;
}

.Campo.AcompanhanteTelefone {
	width: 150px;
	left: 422px;
	top: 532px;
}

.Campo.AcompanhanteDDDCelular {
	width: 55px;
	left: 613px;
	top: 532px;
}

.Campo.AcompanhanteCelular {
	width: 150px;
	left: 681px;
	top: 532px;
}

.AcompanhanteBotaoCadastrar {
	position: absolute;
	left: 792px;
	top: 598px;
}

.AcompanhanteBotaoVoltar {
	position: absolute;
	left: 648px;
	top: 598px;
}

.AcompanhanteBotaoVoltar2 {
	position: absolute;
	left: 513px;
	top: 598px;
}

.AcompanhanteBotaoVoltar3 {
	position: absolute;
	left: 652px;
	top: 598px;
}

.AcompanhanteBotaoSalvar {
	position: absolute;
	left: 791px;
	top: 599px;
}

.AcompanhanteBotaoImprimir {
	position: absolute;
	left: 656px;
	top: 598px;
}

.AcompanhanteBotaoEditar {
	position: absolute;
	left: 795px;
	top: 598px;
}

.Campo.AcompanhanteCidade {
	width: 150px;
	left: 166px;
	top: 532px;
}

.Botao.AcompanhanteCadastrar {
	position: absolute;
	left: 730px;
	top: 258px;
}

.Campo.PacienteRecado {
	width: 257px;
	left: 672px;
	top: 634px;
}

/* CONFIGURANDO TODAS AS BOX LIST; */
.Box {
	border: 0px #CCC;
	position: absolute;
	height: 21px;
	font: Verdana;
	font-size: 12px;
	left: 58px;
	top: 311px;
	width: 154px;
}

.Box.Sexo {
	width: 131px;
	left: 211px;
	top: 397px;
}

.Box.PacienteTipoEndereco {
	width: 131px;
	left: 396px;
	top: 513px;
}

.Box.CentralSexo {
	width: 131px;
	left: 443px;
	top: 329px
}

.Box.UF {
	width: 69px;
	left: 864px;
	top: 573px;
}

.Box.Cidade {
	width: 180px;
	left: 753px;
	top: 572px;
}

.Box.PacienteConvenio {
	width: 180px;
	left: 719px;
	top: 278px;
}

.Box.UnidadeStatus {
	width: 126px;
	left: 706px;
	top: 265px;
}

.Box.UnidadeTipo {
	width: 179px;
	left: 518px;
	top: 266px;
}

.Box.MedicamentoLaboratorio {
	width: 126px;
	left: 299px;
	top: 404px;
}

.Box.DistribuidoraUf {
	width: 74px;
	left: 624px;
	top: 509px;
}

.Box.DistribuidoraCidade {
	width: 179px;
	left: 685px;
	top: 512px;
}

.Box.MedicamentoLaboratorio {
	width: 179px;
	left: 55px;
	top: 526px;
}

.Box.MedicamentoUnidade {
	width: 91px;
	left: 300px;
	top: 591px;
}

.Box.AcompanhanteUf {
	width: 79px;
	left: 55px;
	top: 532px;
}

.Box.AcompanhanteSexo {
	width: 144px;
	left: 696px;
	top: 345px;
}

.Box.PacienteNaturalidade {
	width: 96px;
	left: 685px;
	top: 457px;
}

.Box.PacienteProcedencia {
	width: 96px;
	left: 834px;
	top: 457px;
}

/* CONFIGURANDO OS CAMPOS DE UMA NOVA UNIDADE... */
.Campo.NomeUnidade {
	width: 617px;
	left: 59px;
	top: 344px;
}

.Campo.CNPJ {
	width: 208px;
	left: 720px;
	top: 344px;
}

.Campo.UnidadeCodigo {
	width: 163px;
	left: 331px;
	top: 266px;
}

.Campo.UnidadeTipo {
	width: 137px;
	left: 518px;
	top: 265px;
}

.UnidadeBotaoCadastrar {
	position: absolute;
	left: 800px;
	top: 401px;
}

.UnidadeBotaoVoltar {
	position: absolute;
	left: 660px;
	top: 401px;
}

/* CONFIGURANDO OS CAMPOS DE UM NOVO CONVÊNIO... */
.Campo.NomeConvenio {
	width: 789px;
	left: 57px;
	top: 378px;
}

.ConvenioObservacao {
	position: absolute;
	width: 366px;
	left: 59px;
	top: 445px;
	height: 59px;
}

.ConvenioBotaoCadastrar {
	position: absolute;
	left: 717px;
	top: 541px;
}

.ConvenioBotaoVoltar {
	position: absolute;
	left: 577px;
	top: 541px;
}

.ConvenioBotaoVoltar2 {
	position: absolute;
	left: 435px;
	top: 541px;
}

.ConvenioBotaoVoltar3 {
	position: absolute;
	left: 572px;
	top: 541px;
}

.ConvenioBotaoEditar {
	position: absolute;
	left: 720px;
	top: 541px;
}

.ConvenioBotaoSalvar {
	position: absolute;
	left: 717px;
	top: 541px;
}

.ConvenioBotaoImprimir {
	position: absolute;
	left: 434px;
	top: 541px;
}

/* CONFIGURANDO OS CAMPOS DE UM NOVO MEDICAMENTO... */
.Campo.MedicamentoCodigo {
	width: 208px;
	left: 61px;
	top: 331px;
}

.Campo.MedicamentoNomeComercial {
	width: 615px;
	left: 59px;
	top: 392px;
}

.Campo.MedicamentoComposicao {
	width: 616px;
	left: 60px;
	top: 456px;
}

.MedicamentoBotaoCadastrar {
	position: absolute;
	left: 551px;
	top: 695px;
}

.MedicamentoBotaoVoltar {
	position: absolute;
	left: 409px;
	top: 695px;
}

.MedicamentoBotaoExcluir {
	position: absolute;
	left: 250px;
	top: 695px;
}

/* CONFIGURANDO OS CAMPOS DE UMA NOVA DISTRIBUIDORA... */
.Campo.DistribuidoraCnpj {
	width: 208px;
	left: 704px;
	top: 322px;
}

.Campo.DistribuidoraNome {
	width: 615px;
	left: 64px;
	top: 323px;
}

.Campo.DistribuidoraResponsavel {
	width: 846px;
	left: 64px;
	top: 385px;
}

.Campo.DistribuidoraDDD {
	width: 54px;
	left: 433px;
	top: 571px;
}

.Campo.DistribuidoraTelefone {
	width: 132px;
	left: 497px;
	top: 571px;
}

.Campo.DistribuidoraEndereco {
	width: 675px;
	left: 235px;
	top: 446px;
}

.Campo.DistribuidoraNumero {
	width: 128px;
	left: 65px;
	top: 509px;
}

.Campo.DistribuidoraBairro {
	width: 260px;
	left: 209px;
	top: 509px;
}

.Campo.DistribuidoraCep {
	width: 129px;
	left: 483px;
	top: 509px;
}

.DistribuidoraBotaoCadastrar {
	position: absolute;
	left: 802px;
	top: 629px;
}

.DistribuidoraBotaoEditar {
	position: absolute;
	left: 802px;
	top: 629px;
}

.DistribuidoraBotaoImprimir {
	position: absolute;
	left: 649px;
	top: 632px;
}

.DistribuidoraBotaoSalvar {
	position: absolute;
	left: 788px;
	top: 631px;
}

.DistribuidoraBotaoVoltar {
	position: absolute;
	left: 654px;
	top: 629px;
}

.DistribuidoraBotaoVoltar2 {
	position: absolute;
	left: 645px;
	top: 632px;
}

.DistribuidoraBotaoVoltar3 {
	position: absolute;
	left: 508px;
	top: 632px;
}

/* CONFIGURANDO OS CAMPOS DE UM NOVO LABORATORIO... */
.Campo.LaboratorioCnpj {
	width: 339px;
	left: 62px;
	top: 343px;
}

.Campo.LaboratorioNome {
	width: 870px;
	left: 60px;
	top: 406px;
}

.LaboratorioBotaoCadastrar {
	position: absolute;
	left: 801px;
	top: 465px;
}

.LaboratorioBotaoVoltar {
	position: absolute;
	left: 663px;
	top: 465px;
}

/* CONFIGURANDO O CAMPO BUSCAR; */
.Pesquisar {
	position: absolute;
	width: 551px;
	height: 34px;
	left: 224px;
	top: 508px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #333;
}

.PesquisarMedicamentoComposicao {
	width: 551px;
	height: 34px;
	left: 224px;
	top: 587px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #333;
}

.PacientesPesquisados {
	position: absolute;
	width: 860px;
	height: 404px;
	top: 344px;
	left: 61px;
	font-size: 20px;
	color: #333;
	font-family: Verdana;
}
.TratamentoPesquisados{
	position: absolute;
	width: 900px;
	height: 34px;
	top: 314px;
	left: 9px;
	font-size:20px;
	color:#333;
	font-family:Verdana;
}

.PacientesApacs {
	position: absolute;
	width: 619px;
	height: 204px;
	border: 1px solid #CCC;
	top: 510px;
	left: 185px;
	font-size: 14px;
	color: #666;
	font-family: Verdana;
}

.PesquisarBotao {
	position: absolute;
	border: 0px;
	top: 550px;
	left: 624px;
}

.PesquisarBotaoMedicamentosComposicao {
	position: absolute;
	width: 153px;
	height: 28px;
	border: 0px;
	top: 634px;
	left: 624px;
}

.PesquisadosBotao {
	position: absolute;
	border: 0px;
	top: 347px;
	left: 781px;
	width: 137px;
}

.Campo.QuantidadeCritica {
	width: 190px;
	left: 55px;
	top: 593px;
}

/* CONFIGURANDO CAMPOS DE DADOS UNIDADE; */
.Campo.DadosUnidadeCodigo {
	width: 111px;
	left: 192px;
	top: 259px;
}

.Campo.DadosUnidadeNome {
	width: 587px;
	left: 193px;
	top: 324px;
}

.Box.DadosUnidadeTipo {
	width: 131px;
	left: 272px;
	top: 558px;
}

.Box.DadosUnidadeStatus {
	width: 131px;
	left: 272px;
	top: 558px;
}

.Campo.DadosUnidadeCNPJ {
	width: 264px;
	left: 515px;
	top: 391px;
}

.DadosUnidadeBotaoImprimir {
	position: absolute;
	left: 59px;
	top: 401px;
}

.DadosUnidadeBotaoEditar {
	position: absolute;
	left: 678px;
	top: 444px;
}

.DadosUnidadeBotaoSalvar {
	position: absolute;
	width: 127px;
	left: 678px;
	top: 444px;
}

/* CONFIGURANDO CAMPOS DE DADOS CONVENIO; */
.Campo.DadosConvenioCodigo {
	width: 111px;
	left: 193px;
	top: 259px;
}

.Campo.DadosConvenioNome {
	width: 592px;
	left: 194px;
	top: 324px;
}

.Campo.DadosConvenioStatus {
	width: 111px;
	left: 194px;
	top: 391px;
}

.DadosConvenioObservacao {
	position: absolute;
	left: 195px;
	top: 454px;
	width: 278px;
	height: 68px;
}

.DadosConvenioBotaoImprimir {
	position: absolute;
	left: 543px;
	top: 594px;
}

.DadosConvenioBotaoEditar {
	position: absolute;
	left: 681px;
	top: 595px;
}

.DadosConvenioBotaoSalvar {
	position: absolute;
	left: 680px;
	top: 587px;
}

.DadosConvenioBotaoVoltar {
	position: absolute;
	left: 580px;
	top: 587px;
}

/* CONFIGURANDO CAMPOS DE DADOS DISTRIBUIDORA; */
.Campo.DadosDistribuidoraCodigo {
	width: 111px;
	left: 193px;
	top: 259px;
}

.Campo.DistribuidoraComplemento {
	width: 352px;
	left: 65px;
	top: 571px;
}

.Campo.DistribuidoraCidade {
	width: 197px;
	left: 715px;
	top: 509px;
}

.Box.DistribuidoraTipoEndereco {
	width: 154px;
	left: 65px;
	top: 446px;
}

.Campo.DadosDistribuidoraNome {
	width: 588px;
	left: 192px;
	top: 314px;
}

.Campo.DadosDistribuidoraCNPJ {
	width: 182px;
	left: 193px;
	top: 365px;
}

.Campo.DadosDistribuidoraNomeResponsavel {
	width: 589px;
	left: 193px;
	top: 414px;
}

.Campo.DadosDistribuidoraDDD {
	width: 111px;
	left: 193px;
	top: 259px;
}

.Campo.DadosDistribuidoraTelefone {
	width: 111px;
	left: 250px;
	top: 464px;
}

.Campo.DadosDistribuidoraEndereco {
	width: 387px;
	left: 394px;
	top: 464px;
}

.Campo.DadosDistribuidoraDDD {
	width: 46px;
	left: 192px;
	top: 464px;
}

.Campo.DadosDistribuidoraNumero {
	width: 90px;
	left: 191px;
	top: 510px;
}

.Campo.DadosDistribuidoraBairro {
	width: 252px;
	left: 294px;
	top: 510px;
}

.Campo.DadosDistribuidoraCEP {
	width: 111px;
	left: 559px;
	top: 510px;
}

.Campo.DadosDistribuidoraUF {
	width: 62px;
	left: 191px;
	top: 560px;
}

.Campo.DadosDistribuidoraCidade {
	width: 111px;
	left: 272px;
	top: 560px;
}

.DadosDistribuidoraBotaoImprimir {
	position: absolute;
	left: 537px;
	top: 618px;
}

.DadosDistribuidoraBotaoEditar {
	position: absolute;
	left: 681px;
	top: 618px;
}

.DadosDistribuidoraBotaoSalvar {
	position: absolute;
	left: 681px;
	top: 618px;
}

.Box.DadosDistribuidoraUF {
	width: 65px;
	left: 193px;
	top: 559px;
}

.Box.DadosDistribuidoraCidade {
	width: 131px;
	left: 272px;
	top: 558px;
}

/* CONFIGURANDO CAMPOS DE DADOS LABORATORIO; */
.Campo.DadosLaboratorioCodigo {
	width: 111px;
	left: 559px;
	top: 510px;
}

.Campo.DadosLaboratorioNome {
	width: 573px;
	left: 193px;
	top: 313px;
}

.Campo.DadosLaboratorioCNPJ {
	width: 214px;
	left: 192px;
	top: 366px;
}

.DadosLaboratorioBotaoImprimir {
	position: absolute;
	left: 544px;
	top: 423px;
}

.DadosLaboratorioBotaoEditar {
	position: absolute;
	left: 681px;
	top: 423px;
}

.DadosLaboratorioBotaoSalvar {
	position: absolute;
	left: 680px;
	top: 424px;
}

/* CONFIGURANDO CAMPOS DE DADOS MEDICAMENTO; */
.Campo.DadosMedicamentosCodigo {
	width: 111px;
	left: 559px;
	top: 510px;
}

.Campo.DadosMedicamentosNomeComercial {
	width: 573px;
	left: 192px;
	top: 320px;
}

.Campo.DadosMedicamentosPrincipioAtivo {
	width: 573px;
	left: 192px;
	top: 387px;
}

.Campo.DadosMedicamentosLaboratorio {
	width: 199px;
	left: 192px;
	top: 456px;
}

.DadosMedicamentosBotaoImprimir {
	position: absolute;
	left: 540px;
	top: 519px;
}

.DadosMedicamntosBotaoEditar {
	position: absolute;
	left: 681px;
	top: 520px;
}

.DadosMedicamentosBotaoSalvar {
	position: absolute;
	left: 681px;
	top: 515px;
}

/* CONFIGURANDO CAMPOS DE DADOS PACIENTE; */
.Campo.DadosPacientesCodigo {
	width: 598px;
	left: 194px;
	top: 322px;
}

.Campo.DadosPacientesNome {
	width: 598px;
	left: 194px;
	top: 322px;
}

.Campo.DadosPacientesNascimento {
	width: 140px;
	left: 194px;
	top: 387px;
}

.Campo.DadosPacientesIdade {
	width: 123px;
	left: 353px;
	top: 387px;
}

.Campo.DadosPacientesCor {
	width: 123px;
	left: 512px;
	top: 387px;
}

.Campo.DadosPacientesSexo {
	width: 116px;
	left: 674px;
	top: 387px;
}

.Campo.DadosPacientesNomeMae {
	width: 199px;
	left: 194px;
	top: 457px;
}

.Campo.DadosPacientesProfissao {
	width: 318px;
	left: 195px;
	top: 526px;
}

.Campo.DadosPacientesNaturalidade {
	width: 261px;
	left: 528px;
	top: 526px;
}

.Campo.DadosPacientesProcedencia {
	width: 214px;
	left: 193px;
	top: 590px;
}

.Campo.DadosPacientesCPF {
	width: 186px;
	left: 603px;
	top: 590px;
}

.Campo.DadosPacientesRG {
	width: 142px;
	left: 432px;
	top: 590px;
}

.Campo.DadosPacientesEndereco {
	width: 440px;
	left: 196px;
	top: 660px;
}

.Campo.DadosPacientesNumero {
	width: 135px;
	left: 654px;
	top: 660px;
}

.Campo.DadosPacientesBairro {
	width: 361px;
	left: 195px;
	top: 733px;
}

.Campo.DadosPacientesCEP {
	width: 136px;
	left: 572px;
	top: 733px;
}

.Campo.DadosPacientesUF {
	width: 78px;
	left: 195px;
	top: 813px;
}

.Campo.DadosPacientesCidade {
	width: 172px;
	left: 303px;
	top: 813px;
}

.Campo.DadosPacientesTelefone {
	width: 150px;
	left: 261px;
	top: 890px;
}

.Campo.DadosPacientesDDDTelefone {
	width: 57px;
	left: 197px;
	top: 890px;
}

.Campo.DadosPacientesCelular {
	width: 150px;
	left: 523px;
	top: 890px;
}

.Campo.DadosPacientesDDDCelular {
	width: 57px;
	left: 459px;
	top: 890px;
}

.DadosPacientesBotaoImprimir {
	position: absolute;
	left: 539px;
	top: 976px;
}

.DadosPacientesBotaoEditar {
	position: absolute;
	left: 680px;
	top: 977px;
}

.DadosPacientesBotaoSalvar {
	position: absolute;
	left: 680px;
	top: 979px;
}

.DadosPacientesBotaoApacs {
	position: absolute;
	left: 397px;
	top: 977px;
}

.Box.DadosPacientesSexo {
	width: 121px;
	left: 674px;
	top: 386px;
}

.Box.DadosPacientesUF {
	width: 65px;
	left: 193px;
	top: 559px;
}

.Box.DadosPacientesCidade {
	width: 96px;
	left: 304px;
	top: 814px;
}

/* CONFIGURANDO CAMPOS DE DADOS ACOMPANHANTE; */
.Campo.DadosAcompanhantesCodigo {
	width: 120px;
	left: 194px;
	top: 260px;
}

.Campo.DadosAcompanhantesNome {
	width: 598px;
	left: 196px;
	top: 322px;
}

.Campo.DadosAcompanhantesCPF {
	width: 195px;
	left: 196px;
	top: 386px;
}

.Campo.DadosAcompanhantesEndereco {
	width: 464px;
	left: 331px;
	top: 455px;
}

.Campo.DadosAcompanhantesNumero {
	width: 135px;
	left: 194px;
	top: 522px;
}

.Campo.DadosAcompanhantesBairro {
	width: 426px;
	left: 367px;
	top: 522px;
}

.Campo.DadosAcompanhantesCEP {
	width: 136px;
	left: 194px;
	top: 594px;
}

.Campo.DadosAcompanhantesCidade {
	width: 172px;
	left: 476px;
	top: 594px;
}

.Campo.DadosAcompanhantesTelefone {
	width: 150;
	left: 257px;
	top: 661px;
}

.Campo.DadosAcompanhantesDDDTelefone {
	width: 57px;
	left: 193px;
	top: 661px;
}

.Campo.DadosAcompanhantesCelular {
	width: 150px;
	left: 518px;
	top: 661px;
}

.Campo.DadosAcompanhantesDDDCelular {
	width: 57px;
	left: 454px;
	top: 661px;
}

.DadosAcompanhantesBotaoImprimir {
	position: absolute;
	left: 538px;
	top: 719px;
}

.DadosAcompanhantesBotaoEditar {
	position: absolute;
	left: 679px;
	top: 720px;
}

.DadosAcompanhantesBotaoSalvar {
	position: absolute;
	left: 681px;
	top: 715px;
}

.Box.DadosAcompanhanteTipoEndereco {
	width: 119px;
	left: 194px;
	top: 457px;
}

.Box.DadosAcompanhanteUF {
	width: 65px;
	left: 193px;
	top: 559px;
}

.Box.DadosAcompanhanteCidade {
	width: 96px;
	left: 353px;
	top: 594px;
}

/* CONFIGURANDO CAMPOS DE DADOS ESTOQUE; */
.Campo.DadosEstoqueCodigo {
	width: 111px;
	left: 559px;
	top: 510px;
}

.Campo.DadosEstoqueNomeComercial {
	width: 573px;
	left: 192px;
	top: 320px;
}

.Campo.DadosEstoquePrincipioAtivo {
	width: 573px;
	left: 192px;
	top: 387px;
}

.Campo.DadosEstoqueLaboratorio {
	width: 199px;
	left: 192px;
	top: 456px;
}

.Campo.DadosEstoqueQuantidade {
	width: 199px;
	left: 194px;
	top: 525px;
}

.Campo.DadosEstoqueCritica {
	width: 199px;
	left: 194px;
	top: 587px;
}

.DadosEstoqueBotaoImprimir {
	position: absolute;
	left: 677px;
	top: 638px;
}

.DadosEstoqueBotaoMovimentar {
	position: absolute;
	left: 539px;
	top: 639px;
}

/* CONFIGURANDO CAMPOS DE MOVIMENTAÇÃO; */
.Campo.MovimentacaoTipo {
	width: 128px;
	left: 676px;
	top: 247px;
}

.Campo.MovimentacaoCodigo {
	width: 233px;
	left: 199px;
	top: 333px;
}

.Box.MovimentacaoLaboratorio {
	width: 237px;
	left: 199px;
	top: 394px;
}

.Box.MovimentacaoDistribuidora {
	width: 239px;
	left: 198px;
	top: 451px;
}

.Campo.MovimentacaoNotaFiscal {
	width: 379px;
	left: 198px;
	top: 513px;
}

.Campo.MovimentacaoNomeComercial {
	width: 572px;
	left: 198px;
	top: 717px;
}

.Campo.MovimentacaoPrincipio {
	width: 468px;
	left: 199px;
	top: 775px;
}

.Campo.MovimentacaoLote {
	width: 268px;
	left: 199px;
	top: 836px;
}

.Campo.MovimentacaoValidade {
	width: 179px;
	left: 198px;
	top: 897px;
}

.Campo.MovimentacaoQuantidade {
	width: 268px;
	left: 198px;
	top: 955px;
}

.MovimentacaoObservacao {
	position: absolute;
	left: 199px;
	top: 1012px;
	width: 319px;
}

.MovimentacaoListagem {
	position: absolute;
	left: 179px;
	top: 1240px;
	width: 631px;
}

.MovimentacaoAdicionar {
	position: absolute;
	left: 737px;
	top: 1077px;
}

/* CONFIGURANDO TODOS OS CAMPOS DE TRATAMENTO; */
.Campo.TratamentoProtCecor {
	width: 167px;
	left: 193px;
	top: 288px;
}

.Campo.TratamentoPacienteNome {
	width: 422px;
	left: 192px;
	top: 353px;
}

.Campo.TratamentoPacienteCPF {
	width: 167px;
	left: 629px;
	top: 353px;
}

.Campo.TratamentoAcompanhanteNome {
	width: 423px;
	left: 191px;
	top: 496px;
}

.Campo.TratamentoAcompanhanteCPF {
	width: 166px;
	left: 628px;
	top: 496px;
}

.Campo.TratamentoNome {
	width: 600px;
	left: 189px;
	top: 634px;
}

.Box.TratamentoConvenioOrigem {
	width: 194px;
	left: 189px;
	top: 699px;
}

.Box.TratamentoConvenio {
	width: 194px;
	left: 393px;
	top: 699px;
}

.Campo.UnidadeTratamento {
	width: 191px;
	left: 597px;
	top: 699px;
}

.Campo.TratamentoTermino {
	width: 139px;
	left: 342px;
	top: 764px;
}

.Campo.TratamentoInicio {
	width: 137px;
	left: 189px;
	top: 764px;
}

.Box.TratamentoComparecimento {
	width: 140px;
	left: 495px;
	top: 763px;
}

.Box.TratamentoStatus {
	width: 141px;
	left: 649px;
	top: 763px;
}

.Campo.TratamentoProcedimentoPrincipal {
	width: 178px;
	left: 190px;
	top: 828px;
}

.Campo.TratamentoProcedimentoSecundario01 {
	width: 179px;
	left: 397px;
	top: 828px;
}

.Campo.TratamentoProcedimentoSecundario02 {
	width: 179px;
	left: 608px;
	top: 828px;
}

.TratamentoAdicionar {
	position: absolute;
	left: 742px;
	top: 892px;
}

.TratamentoVoltar {
	position: absolute;
	left: 678px;
	top: 892px;
}

.Field {
	position: absolute;
	border: 0px;
	color: #ff0000;
	font-family: Verdana;
	font-size: 12px;
}

/* CONFIGURANDO TODOS OS CAMPOS DE TRATAMENTO; */
.campo.PrincipioAtivoDescricao {
	width: 167px;
	left: 65px;
	top: 311px;
}